
<h1>Spreedly Airlines - Adina Division Flights</h1>
 
<table>
  <thead>
    <tr>
      <th>Origin</th>
      <th>Destination</th>
      <th>Duration</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
 
  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.origin %></td>
        <td><%= flight.destination %></td>
        <td><%= flight.hours %></td>
        <td><%= number_to_currency(flight.price) %></td>
        <td>
          <%= link_to "Purchase", checkout_path(flight: flight) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "View Transactions", transactions_path %>

<script>
  var amount = 0;
  var receiver = false;

  $(document).ready(function() {
    $(".purchase").on("click", function(e) {
      amount = e.target.dataset.amount
      SpreedlyExpress.init("UivgfF2TQABwmYW4Tcg8KodJsg8", {
        "amount": amount,
        "company_name": "Spreedly Airlines - Adina Division"
      });
      if (e.target.dataset.receiver) receiver = true;
      SpreedlyExpress.openView();
    });
  });

  SpreedlyExpress.onPaymentMethod(function(token, paymentMethod) {
    var tokenField = document.getElementById("payment_method_token");
    tokenField.setAttribute("value", token);

    var amountField = document.getElementById("amount");
    amountField.setAttribute("value", amount);

    var amountField = document.getElementById("receiver");
    amountField.setAttribute("value", receiver);

    var masterForm = document.getElementById('payment-form');
    masterForm.submit();
  });
</script>
